<button type="button" class="btn btn-toggle" {{action (action "toggleMenu") bubbles=false}} >
    <div>{{title}}</div>
    {{#if showMenu}}
        <i class="ion-arrow-up-b"></i>
    {{else}}
        <i class="ion-arrow-down-b"></i>
    {{/if}}
</button>


<ul class="dropdown-menu list-unstyled {{if showMenu 'show'}}">
    {{yield}}
</ul>
